@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  canvas {
    display: block;
    margin: 0;
    padding: 0;
  }

  #menuPanel button {
    background-color: rgba(59, 130, 246, 0.7);
  }

  #menuPanel button:hover {
    background-color: rgba(59, 130, 246, 0.85);
  }
}
